*{
    font-family: "Ubuntu", sans-serif;
}
body{
    margin: 10px 50px;
    background-color: #fbf9f9;
}
header{
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: rgb(49, 44, 44);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    line-height: 7px;
}
header>h1{
    color: #fff;
}
header>p{
    color: rgb(209, 206, 206);
}
header nav{
    margin-right: 30px;
}
header nav ul{
    margin-top: 30px;
}
header nav ul li{
    color: #fff;
    display: inline;
    padding: 0 10px;
}
header nav ul li a{
    color: #fff;
    text-decoration: none;
}
    
header nav ul li a:hover{
    color: blueviolet;
    cursor: pointer;
}
/* start sction about me */
#about{
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 10px;
    margin: 30px 0;
    padding: 15px;
    height: 380px;
}
#about img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-left: 640px;
    margin-top: 40px;
}
/* end sction about me */

/* start sction skill */
#skill{
    background-image: url(./imgs/skill.jpg);
    height: 200px;
    border-radius: 5px;
}
#skill h2{
    color: #fff;
    padding: 20px;
}
#skill #skill-type{
    background-color: #fff;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    text-align: center;
    /* opacity: 0.7 ; */
}
#skill span{
    background-color: rgb(143, 143, 209);
    color: #fff;
    display: inline-block;
    margin: 10px 5px;
    padding: 10px;
    border-radius: 5px;
}
#skill span:hover{
    cursor: pointer;
}
/* end section skill */

/* start section project */
#project{
    position: relative;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    margin: 30px 0;
    padding: 10px;
}
#project .pr-ex{
    background-color: rgb(119, 119, 209);
    max-width: 200px;
    padding: 1px 10px 30px 10px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 10px;
    text-align: center;
}
#project #pr2{
    position: absolute;
    top: -470px;
    left: 70px;
    padding: 0px 10px 30px 10px;
    max-width: 200px;
    background-color: violet;
    border-radius: 10px;
}
#project #blog{
    background-color: cadetblue;
    border-radius: 10px;
    text-align: center;
    padding: 1px 20px 50px 20px;
    width: 1350px;
    margin-left: 30px;
    margin-bottom: 20px;
}
/* end section project */

/* start go to top */

div.go-top{
    position: fixed;
    right: 5px;
    bottom: 15px;
    background-color: rgb(148, 87, 179);
    font-size: 20px;
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px;
    color: #fff;
}
/* end go to top */

/* start contact section */
#contact{
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 0 20px;
}
#contact input{
    width: 1220px;
    border-right: none;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
}
#contact textarea{
    border: 1px solid #ddd;
    border-right: none;
    text-align: left;
    color: rgba(87, 83, 83, 0.527);
    margin: 10px 0;
}
#contact .submit input{
    width: 100px;
    padding: 10px;
    color: rgb(62, 202, 78);
    border: 2px solid rgb(62, 202, 78);
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 20px;
}
#contact .submit input:hover{
    background-color: rgb(62, 202, 78);
    color: #fff;
}
/* end contact section */
/* start footer */
footer{
    background-color: rgb(43, 41, 41);
    height: 20px;
    border-radius: 10px;
    color: #fff;
    padding: 20px 0;
    font-size: 20px;
    margin: 30px 0;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: brown;
}
footer a:hover{
    color: #fff;
}
/* end footer */

